MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_COLLECTION_NAME=industrial_maintenance_chunks

EMBEDDING_MODEL_NAME=BAAI/bge-m3
RERANKER_MODEL_NAME=BAAI/bge-reranker-v2-m3
LLM_MODEL_NAME=Qwen/Qwen2.5-1.5B-Instruct

API_HOST=0.0.0.0
API_PORT=8000
GRADIO_PORT=7860
